# Server Configuration
PORT=3000
NODE_ENV=development

# Postgres Container Credentials
POSTGRES_USER=sml_user
POSTGRES_PASSWORD=sml_password
POSTGRES_DB=sml_db

# Ports
API_HOST_PORT=8080
DBGATE_HOST_PORT=8070
POSTGRES_HOST_PORT=5434
